@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to home page of FDS ERP</h1>
    <h2>To create a new order and enter it to database click <a asp-area="" asp-controller="Orders" asp-action="Create">here</a>.</h2>
    <h2>To add new courier to system click <a asp-area="" asp-controller="Couriers" asp-action="Create">here</a>.</h2>
</div>
