@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>Fast Delivery Service - Enterprise Resourse Planning web app </h1>
<p>
    Fast Delivery Service is a fast growing company
    that operates on the market of the Uzbekistan for more than 5 years
</p>
<p>
   The main priority of the company is customer satisfaction and delivery of goods in Uzbekistan,
    in the shortest period of time
</p>

